<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>理想生活上天猫</title>
    <script src="/public/js/jquery-1.10.2.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <link rel="icon" href="/public/images/TMico.png"/>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/css/commonStyle.css"/>
    <link rel="stylesheet" href="/public/css/login.css">
    <script type="text/javascript">
        $(function () {
            var link_col = $('.inner img').css('color');
            console.log(link_col);
            $('.loginBanner').css('background-color', ''+link_col+'');
        });
    </script>
</head>
<body>
<div id="mallPageDiv">
    <div class="headerDiv">
        <div class="logoDiv">
            <a href="/">
                <img src="/public/images/logo.png"/>
            </a>
            <h2>欢迎登录</h2>
        </div>
    </div>
    <div class="contentDiv">
        <div class="loginBanner">
            <div class="inner">
                <img src="https://img13.360buyimg.com/da/jfs/t2749/276/1020747574/33213/870500f1/5731485aN1134b4f0.png">
            </div>
            <div class="form-group">

            </div>
        </div>
    </div>
</div>
</body>
</html>