<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>理想生活上天猫</title>
    <script src="/public/js/jquery-1.10.2.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <link rel="icon" href="/public/images/TMico.png"/>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/css/commonStyle.css"/>
    <link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
<div id="mallPageDiv">
    <div class="headerDiv">
        <div class="logoDiv">
            <a href="/">
                <img src="/public/images/logo.png"/>
            </a>
            <h2>欢迎登录</h2>
        </div>
    </div>
    <div class="contentDiv">
        <div class="loginBanner">
            <div class="inner">
                <img src="https://img.alicdn.com/imgextra/i4/740958699/TB2r1B2iv2H8KJjy0FcXXaDlFXa_!!740958699.jpg">
            </div>
            <div class="form-group">

            </div>
        </div>
    </div>
</div>
</body>
</html>